<p>employee works!</p>
<!-- <button [routerLink]="['/About']">back</button> -->

<form [formGroup]="loginForm" (ngSubmit)="submitHandler()">
   <div>
    <label for="email">email</label>
    <input type="text" formControlName="email" >
   </div>
   <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
    Please enter a valid email address.
  </div>
   <div>
    <label for="password">password</label>
    <input type="password" formControlName="password">
   </div>
   <div>
    <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
        Password is required
      </div>
    <input type="submit" value="save" [disabled]="loginForm.invalid">
   </div>
</form>

<button (click)="buttonHandler()">back</button>